<app-header></app-header>
<div class="relative bg-lightgray px-[10%] w-full flex h-full min-h-fit pb-10">
    <div class="absolute inset-0 " [ngClass]="{
    'bg-gray opacity-50': isPopupOpen,
    'bg-transparent hidden': !isPopupOpen
  }"></div>
    <div *ngIf="isAddOrdonnanceOpen"
        class="absolute top-16 left-1/2 transform -translate-x-1/2  bg-white flex flex-col justify-center items-center border border-darkgray rounded-lg gap-y-6 w-2/3 px-4 py-4 h-96">
        <div class="w-full justify-self-start text-xl">Ajouter Ordonnance</div>
        <div class="w-full h-full flex flex-col gap-y-3">
            <div class="w-full flex justify-between text-sm gap-x-1">
                <input
                    class="w-5/12 flex bg-lightgray py-2 px-4 text-darkgray focus:outline-none focus:text-black  rounded-lg"
                    type="text" id="medicament" placeholder="médicament" [(ngModel)]="newTraitement.medicament" />
                <input class="flex bg-lightgray py-2 px-4 text-darkgray focus:outline-none focus:text-black  rounded-lg"
                    type="number" id="Dose" placeholder="Dose" [(ngModel)]="newTraitement.dose" />
                <input class="flex bg-lightgray py-2 px-4 text-darkgray focus:outline-none focus:text-black  rounded-lg"
                    type="number" id="Durée" placeholder="Durée" [(ngModel)]="newTraitement.duree" />
                <button class="bg-green text-white text-sm px-6 py-2 rounded-xl flex "
                    (click)="addNewTrait()">Ajouter</button>
            </div>
            <div class="w-full flex flex-col items-center gap-y-1">
                <div class="bg-lightgray w-full rounded-lg py-2 px-4 text-darkgray text-sm flex items-center">
                    <div class="w-1/3">Médicaments</div>
                    <div class="w-1/3">Dose</div>
                    <div class="w-1/3 flex pr-4">Durée</div>
                </div>

                <div class="w-full flex flex-col" *ngFor="let traitement of selectedOrdonnance?.traitements">
                    <div class="flex  items-center py-2 px-4 w-full">
                        <div class="w-1/3 flex-grow">{{traitement.medicament}}</div>
                        <div class="w-1/3 flex-grow text-black">{{traitement.dose}}</div>
                        <div class="w-1/3 flex-grow text-black">{{traitement.duree}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end w-full gap-x-5 self-end">
            <button class="text-lg px-6 py-2 rounded-xl flex " (click)="AnnulerOrdonnance()">Annuler</button>
            <button class="bg-green text-white text-lg px-6 py-2 rounded-xl flex "
                (click)="EnregistrerOrdonnace()">Enregistrer</button>
        </div>
    </div>


    <div *ngIf="isViewOrdonnanceOpen"
        class="absolute top-16 left-1/2 transform -translate-x-1/2  bg-white flex flex-col justify-center items-center border border-darkgray rounded-lg gap-y-6 w-2/3 px-4 py-4 h-96">
        <div class="w-full justify-self-start text-xl">Affichage de l`Ordonnance:</div>
        <div class="w-full h-full flex flex-col gap-y-3">

            <div class="w-full flex flex-col items-center gap-y-1">
                <div class="bg-lightgray w-full rounded-lg py-2 px-4 text-darkgray text-sm flex items-center">
                    <div class="w-1/3">Médicaments</div>
                    <div class="w-1/3">Dose</div>
                    <div class="w-1/3 flex pr-4">Durée</div>
                </div>

                <div class="w-full flex flex-col">
                    <div class="flex  items-center py-2 px-4 w-full"
                        *ngFor="let traitement of selectedOrdonnance?.traitements">
                        <div class="w-1/3 flex-grow">{{traitement.medicament}}</div>
                        <div class="w-1/3 flex-grow text-black">{{traitement.dose}}</div>
                        <div class="w-1/3 flex-grow text-black">{{traitement.duree}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end w-full gap-x-5 self-end">
            <button class="text-lg px-6 py-2 rounded-xl flex " (click)="closeViewOrdonnance()">Retour</button>
        </div>
    </div>

    <div *ngIf="wantsToDelete"
        class="absolute top-16 left-1/2 transform -translate-x-1/2  bg-white flex flex-col border border-darkgray rounded-lg gap-y-6 w-1/2 px-4 py-4 h-40">
        <div class="w-full flex flex-col h-full min-h-full  justify-center items-center">
            <div class="py-6 text-black text-xl text-center">Etes vous sure de vouloir supprimer l'ordonnance
                ?</div>
            <div class="flex justify-center w-full gap-x-5">
                <button class="text-lg px-6 py-2 rounded-xl flex " (click)="closeDeletionPopup()">Annuler</button>
                <button class="bg-red text-white text-lg px-6 py-2 rounded-xl flex "
                    (click)="deleteOrdonnance()">Supprimer</button>
            </div>
        </div>
    </div>

    <div class="flex flex-col jusify-center items-center w-full h-full min-h-full gap-y-6">
        <div class="w-full flex flex-col h-full min-h-full">
            <div class="py-6 text-black text-2xl">Creation de la consultation</div>
            <div class="w-full h-full flex justify-between gap-x-8 min-h-fit items-stretch">
                <div class="w-full flex h-full flex-col gap-y-8 ">
                    <div class="rounded-lg bg-white border border-darkgray">
                        <div class="flex justify-between items-center mx-4 my-2">
                            <div class="text-xl">Date</div>
                            <div class="bg-lightgray text-darkgray px-6 py-2 rounded-sm">
                                {{newConsultation.dateDeCreation| date : "dd/MM/yyyy"}}</div>
                        </div>
                    </div>


                    <div class="bg-white px-4 py-2 rounded-lg h-[270px] overflow-y-auto border border-darkgray">
                        <div class="flex justify-between items-center rounded-lg py-4">
                            <div class="">
                                <div class="text-xl">Ordonnances</div>
                            </div>
                            <button (click)="openAddOrdonnance()">
                                <img src="/add.svg" alt="add icon">
                            </button>
                        </div>


                        <div class="w-full flex flex-col items-center gap-y-1">
                            <div
                                class="bg-lightgray w-full rounded-lg py-2 px-4 text-darkgray text-sm flex items-center">
                                <div class="w-1/3">ID</div>
                                <div class="w-1/3">Date de creation</div>
                                <div class="w-1/3 flex pr-4 justify-end">Actions</div>
                            </div>

                            <div class="w-full flex flex-col ">

                                <div *ngFor="let ord of newConsultation.ordonnances; let i=index"
                                    class="flex items-center py-2 px-4 w-full text-black">
                                    <div class="w-1/3 flex-grow">{{ord.titre}}</div>
                                    <div class="w-1/3 flex-grow text-black">{{ord.state}}</div>
                                    <div class="flex flex-row gap-x-6 items-center w-1/3 flex-grow justify-end">
                                        <button><img src="/eye.svg" alt="view icon"
                                                (click)="openViewOrdonnance(ord)"></button>
                                        <button><img src="/trash.svg" alt="delete icon"
                                                (click)="OpenDeletionPopup(i)"></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white py-2 rounded-lg max-h-[270px] border border-darkgray min-h-[340px] px-8">
                        <div class="flex justify-between items-center rounded-lg py-4 text-xl">
                            Bilan Biologiques
                        </div>

                        <!-- bilan -->
                        <div class="w-full flex items-center gap-y-1">
                            <div class="flex flex-col w-1/2">
                                <div class="flex items-center gap-x-4" *ngFor="let Bilan of bilansBiologique">
                                    <input type="checkbox" class="border border-darkgray rounded-md h-full"
                                        (change)="onCheckboxChangeBio(Bilan, $event)"
                                        [checked]="selectedBilanBiologique.includes(Bilan)" />
                                    <div class="text-xl">{{Bilan.nom}}</div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="flex flex-col gap-y-8 w-full">

                    <div class="bg-white px-8 py-2 rounded-lg max-h-[270px] border border-darkgray min-h-[300px]">
                        <div class="flex justify-between items-center rounded-lg py-4 text-xl">
                            Bilan Radiologique
                        </div>

                        <div class="w-full flex items-center gap-y-1">
                            <div class="flex flex-col w-1/2">
                                <div class="flex items-center gap-x-4" *ngFor="let Bilan of bilansRadio">
                                    <input type="checkbox" class="border border-darkgray rounded-md h-full"
                                        (change)="onCheckboxChangeRadio(Bilan , $event)"
                                        [checked]="selectedBilanRadiologique.includes(Bilan)" />
                                    <div class="text-xl">{{Bilan.nom}}</div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="bg-white px-4 py-2 rounded-lg border border-darkgray flex flex-col h-full">
                        <div class="flex rounded-lg py-4 text-xl">
                            Resume
                        </div>

                        <!-- input -->
                        <div class="w-full h-full flex">
                            <textarea id="resume" [(ngModel)]="newConsultation.resume"
                                class="resize-none text-start text-black flex-wrap bg-lightgray align-text-top px-4 py-2 border border-darkgray rounded-md focus:ring-2 focus:ring-green focus:outline-none w-full h-full"
                                placeholder="Resume de la consultation"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-between w-full">
            <button class="bg-white text-green text-lg px-6 py-2 rounded-xl flex border border-green"
                (click)="goBack()">Retour</button>
            <button class="bg-green text-white text-lg px-6 py-2 rounded-xl flex "
                (click)="onSubmit()">Enregistrer</button>
        </div>
    </div>
</div>