.full-page {
    background-color: lightgray;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
  }
body {
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  
  .title {
    position: absolute;
    top: 35%; 
    left: 0;
    transform: translateY(-50%);
    padding: 20px;
    font-size: 36px;
    color: #333;
  }
  
  /* Text container styling */
  .text {
    display: flex;
    flex-direction: column;  /* Stack the title and bienvenue vertically */
    position: absolute;
  /* Align to the top of the page */
  top: 40%;
    left: 0; /* Align to the left side */
    padding-left: 20px; /* Add padding to the left */
  }
  
  /* Styling for the "bienvenue" text */
  .bienvenue h2 {
    font-size: 16px; /* Font size for the second text */
    color: #333; /* Text color */
    margin-top: 16%; /*Adds space between the title and bienvenue text*/
    /* width:70%; */
  }
  .bienvenue{
    width:70%;
  }
  .image {
    width: 250px;
    height: auto;
    position: absolute;
    top: 30%; /* Adjust this value as needed */
    left: 20px;
    z-index: 1;
  }
  
  .image img {
    width: 30%;
    height: auto;
  }
  
  .login-container {
      width: 30%; 
      padding: 20px; 
      padding-bottom: 30px;
      border: 1px solid #ccc;
      border-radius: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: absolute; 
      top: 50%;
      
      display: flex;
      flex-direction: column;
  
  
   
      left:50%;
      transform: translateY(-50%); /* Center vertically */
    }
    
    /* Make the form and inputs fill the container properly */
    h2 {
      /* text-align: center; */
      left: 40%;
      right: 40%;
      color: #333;
      font-weight: 600;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    form div {
      margin-bottom: 10px;
    }
    
    label {
      left: 30%;
  
      display: block; 
      
      font-weight: 300; 
      font-family: 'Poppins', sans-serif;
      color: #33333375; 
    }
    input {
      
      
      position: relative;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 10px;
    }
    .emailDiv,.passDiv {
      display: flex;
      flex-direction: column;
    }
    button {
      position: relative;
      
      padding: 10px;
      background-color: #46BB91;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
      
    }
    
    
    
     .error {
      color: red;
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
    }
     
  
    .inputs{
      gap:20px;
    }
    .error {
      color: red;
      margin-top: 10px;
      text-align: center;
    }