<ul>
  <li>
    <a
      routerLink="/medecin-dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Go to Medecin dashboard.</a
    >
  </li>
  <li>
    <a
      routerLink="/admin-dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Go to Admin dashboard.</a
    >
  </li>
  <li>
    <a
      routerLink="/infirmier-dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Go to Infirmier dashboard.</a
    >
  </li>
</ul>
