<div class="full-page">
    <div class="image">
      <img src="/logo-green.png" alt="logo">
    </div>
    <div class="text">
      <!-- Title -->
      <div class="title">
        <h1>Until U Heal.</h1>
      </div>
      <div class="bienvenue">
        <h2>Bienvenue sur le systeme de gestion des dossiers des patients informatisés</h2>
      </div>
    </div>
  
    <div class="login-container">
      <h2>Connectez-vous à votre compte :</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="inputs">
          <div class="emailDiv">
            <label for="email">Email:</label>
            <input 
              type="email" 
              id="email" 
              name="email" 
              [(ngModel)]="email" 
              required 
              placeholder="Entrez votre email"
            />
          </div>
  
          <div class="passDiv">
            <label for="password">Mot de passe :</label>
            <input 
              type="password" 
              id="password" 
              name="password" 
              [(ngModel)]="password" 
              required 
              placeholder="Entrez votre mot de passe :"
            />
          </div>
        </div>
        <div *ngIf="error" class="error">
          {{ error }}
        </div>
        <button type="submit">Connexion</button>
      </form>
    </div>
  </div>
  