<app-header></app-header>
<div class="bg-[#EEEFF1] min-h-screen flex items-center justify-center">
  <div class="flex justify-around w-full">
    <button
      class="flex flex-col justify-center items-center gap-5 bg-[#46BB91] w-[350px] h-[500px] rounded-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="305"
        height="305"
        fill="none"
        viewBox="0 0 305 305"
      >
        <circle
          cx="152.5"
          cy="95.313"
          r="69.896"
          stroke="#fff"
          stroke-linejoin="bevel"
          stroke-width="10"
        />
        <path
          stroke="#fff"
          stroke-linejoin="round"
          stroke-width="10"
          d="M152.5 165.208c-69.441 0-125.874 50.126-127.064 112.368a1.977 1.977 0 0 0 1.98 2.007h250.167a1.977 1.977 0 0 0 1.981-2.007c-1.19-62.242-57.623-112.368-127.064-112.368Z"
        />
      </svg>
      <span class="text-2xl font-semibold text-white">Creer Compte</span>
    </button>
    <button
      class="flex flex-col justify-center items-center gap-5 bg-[#878787] w-[350px] h-[500px] rounded-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="265"
        height="227"
        fill="none"
        viewBox="0 0 265 227"
      >
        <path
          stroke="#fff"
          stroke-linejoin="round"
          stroke-width="10"
          d="M227.812 56.667V39.193H90.562L67.689 5.833H5.416v203.334h95.312"
        />
        <circle
          cx="189.687"
          cy="151.979"
          r="69.896"
          stroke="#fff"
          stroke-width="10"
        />
        <path
          stroke="#fff"
          stroke-linejoin="round"
          stroke-width="10"
          d="M189.688 120.208v63.542m-31.771-31.771h63.541"
        />
      </svg>
      <span class="text-2xl font-semibold text-white">Creer DPI</span>
    </button>
  </div>
</div>
